@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400,600');

:root {
    --primary: #666;
    --primary-dark: #111;
    --primary-light: #ccc;
    --secondary: #fff;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    min-width: 300px;
}

.title {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-weight: 300;
    color: var(--primary);
}

main {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/** nav styling **/

.navbar-container {
    position: fixed;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    z-index: 99;
    width: 100%;
    background: #fff;
}

.navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    max-width: 1024px;
    width:  calc(100vw - (100vw - 100%));
}

.header--logo {
    grid-column: 1 / -1;
    text-decoration: none;
    outline: none;
    color: #fff;
    background: var(--primary);
    font-weight: 600;
    font-size: 2rem;
    padding: .5rem 1rem;
    margin: .5rem;
    border-radius: .5rem;
    -ms-grid-column-align: center;
        justify-self: center;
}

.navbar--link {
    text-decoration: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--primary);
    font-size: 1.25rem;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all .15s;
    transition: all .15s;
}

.navbar--link:hover {
    color: var(--primary-dark);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
}

@media only screen and (min-width: 650px) {
    .navbar {
        -ms-grid-columns: 3fr 1fr 1fr 1fr;
            grid-template-columns: 3fr 1fr 1fr 1fr;
    }
    .header--logo {
        grid-column: auto;
        -ms-grid-column-align: start;
            justify-self: start;
    }
}

/** hero styling **/

.welcome {
    height: 100vh;
    background-image: url("../images/computer_desk.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.welcome--header {
    color: var(--secondary);
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
}

h1 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: 0;
}

.welcome--txt {
    font-weight: 300;
}

/** about-me styling **/

.about-me-container {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
}

.about-me-pic {
    margin: 1rem;
    position: relative;
}

.about-me-pic > img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.circle-1, .circle-2 {
    position: absolute;
    border-radius: 50%;
    border: 2px solid #326483;
    /* transition: all .5s ease-in-out; */
}

.about-me-pic:hover > .circle-1 {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
}
.about-me-pic:hover > .circle-2 {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}

.circle-1 {
    width: 199px;
    height: 199px;
    border-color: var(--primary) var(--primary) var(--primary) transparent;
    top: -12px;
    left: -12px;
}

.circle-2 {
    width: 187px;
    height: 187px;
    border-color: var(--primary) transparent var(--primary) var(--primary);
    top: -6px;
    left: -6px;
}

.about-me {
    max-width: 540px;
    font-family: 'Open Sans', sans-serif;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    color: var(--primary-dark);
}

.body-txt {
    margin-bottom: 1rem;
}

@media only screen and (min-width: 500px) {
    .about-me-container {
        grid-auto-flow: column;
    }
}


/** Projects styling **/

.seperator {
    background: -webkit-gradient(linear, left top, right top, from(var(--primary)), color-stop(#5B927900), color-stop(#5B927900), to(#5B927900));
    background: linear-gradient(to right, var(--primary), #5B927900, #5B927900, #5B927900);
    height: 2px;
    margin-left: 2rem;
}

.projects {
    height: 550px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
}

.project {
    background-size: cover;
    background-position: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow:
        inset 0 0 0 5px rgba(0,0,0,0.3);
            box-shadow:
        inset 0 0 0 5px rgba(0,0,0,0.3);
    -webkit-transform: scale(.9);
            transform: scale(.9);
    -webkit-transition: 
        -webkit-box-flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        -webkit-transform 0.8s ease-in-out;
    transition: 
        -webkit-box-flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        -webkit-transform 0.8s ease-in-out;
    transition: 
        flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        transform 0.8s ease-in-out;
    transition: 
        flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        transform 0.8s ease-in-out,
        -webkit-box-flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        -ms-flex .8s cubic-bezier(0.57, -0.37, 0.46, 1.42),
        -webkit-transform 0.8s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.project1 { background-image:url(../images/simon.jpg)}
.project2 { background-image:url(../images/calc.jpg)}
.project3 { background-image:url(../images/neighborhood_map.jpg)}
.project4 { background-image:url(../images/tic_tac_toe.jpg)}
.project5 { background-image:url(../images/pomodoro.jpg)}

.project > * {
    position: relative;
    margin: 0;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.85);
    color: var(--secondary);
    -webkit-transition: 
        -webkit-transform .8s ease-in-out;
    transition: 
        -webkit-transform .8s ease-in-out;
    transition: 
        transform .8s ease-in-out;
    transition: 
        transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.project--title {
    -webkit-transform: translateY(-150%);
            transform: translateY(-150%);
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    background: rgba(255,255,255,0.85);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    border-style: solid none;
}


.project--title-small {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 
        -webkit-transform .5s ease-in-out 1.1s;
    transition: 
        -webkit-transform .5s ease-in-out 1.1s;
    transition: 
        transform .5s ease-in-out 1.1s;
    transition: 
        transform .5s ease-in-out 1.1s, -webkit-transform .5s ease-in-out 1.1s;
}

.project--link {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    pointer-events: none;
    background: rgba(255,255,255,0.85);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    border-style: solid none;
}

.tic-tac-link {
    color: #3e82b7;
}

.project--details--container {   
    -webkit-transform: translateX(75%);   
            transform: translateX(75%);
    margin: 0;
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 0px;
    background: none;
    color: #326483;
    border: none;
    border-style: none;
    -webkit-transition: 
        -webkit-transform 0.8s linear;
    transition: 
        -webkit-transform 0.8s linear;
    transition: 
        transform 0.8s linear;
    transition: 
        transform 0.8s linear, -webkit-transform 0.8s linear;
    text-shadow: none;
    overflow: hidden;
}
    
.project--details {
    height: 100%;
    font-size: 0px;
    -ms-flex-preferred-size: 66%;
        flex-basis: 66%;
    background: rgba(0, 0, 0, 0.9);
    color: #EAE6E5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: auto;
}

@media only screen and (min-width: 400px) {
    .project--details {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
}

@media only screen and (min-width: 750px) {
    .project--details {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    }
}

.project--details-toggle {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -.5rem;
    width: auto;
    background: #EAE6E5;
    border-radius: 50%;
    border: 1px solid #EAE6E5;
    color: #111;
    font-size: 2rem;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .5s ease-in-out, -webkit-transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out, -webkit-transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out, transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.fa-chevron-circle-left {
    -webkit-transition: -webkit-transform .5s linear;
    transition: -webkit-transform .5s linear;
    transition: transform .5s linear;
    transition: transform .5s linear, -webkit-transform .5s linear;
}

.appear {
    opacity: 1;
    z-index: 9;
    pointer-events: all;
    -webkit-transition: opacity .5s ease-in-out .8s, -webkit-transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out .8s, -webkit-transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out .8s, transform 0.8s ease-in-out;
    transition: opacity .5s ease-in-out .8s, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.details-txt {
    margin: 0 0 4px 0;
}

.details-title {
    margin: .5rem;
}
    
.open {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.shrink {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    height: 0px;
    border: none;
    -webkit-transition: 
        -webkit-transform 0.8s ease-out;
    transition: 
        -webkit-transform 0.8s ease-out;
    transition: 
        transform 0.8s ease-out;
    transition: 
        transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

.slide-in {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
}

.increase-font {
    font-size: 14px;
}

.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    pointer-events: all;
    -webkit-transition: -webkit-transform .5s ease-in-out .8s;
    transition: -webkit-transform .5s ease-in-out .8s;
    transition: transform .5s ease-in-out .8s;
    transition: transform .5s ease-in-out .8s, -webkit-transform .5s ease-in-out .8s;
}

.disable-pointer {
    pointer-events: none;
}

.project.open-active > .project--title-small {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

.project.open-active > .project--details--container {
    -webkit-box-flex: 25;
        -ms-flex: 25;
            flex: 25;
}

@media only screen and (min-width: 400px) {
    .project--details {
        padding: 0 .5rem 0 .5rem;
    }
}

@media only screen and (min-width: 550px) {
    .projects {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .project.open-active > .project--details--container {
        -webkit-box-flex: 50;
            -ms-flex: 50;
                flex: 50;
    }
}

.featured--projects, .bio {
    max-width: 1024px;
}

/** footer styling **/

.footer-container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    background: var(--primary-light);
}

.footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    color: var(--secondary);
    font-size: .75rem;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 1024px;
}

.footer--logo {
    padding: .5rem;
    margin: .5rem;
    border-radius: .25rem;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--primary);
    color: var(--secondary);
    -ms-grid-column-align: start;
        justify-self: start;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--primary);
}

.footer-eml {
    color: var(--primary-dark);
    font-size: 1rem;
}
.footer-txt {
    margin: .25rem;
}